<!DOCTYPE html>
<html lang="en">
<head>
    <title>Custom video player</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/progress.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <div>

        <h1>Patita video player</h1>
        <h2>Los simpsons</h2>
    </div>

        <video 
        id="video"
        class="screen"
        src="./assets/videos/video.mp4"
        poster="./assets/images/poster.png"
        ></video>
         
   
    <!-- <video src="" poster="" controls > -->
         <div class="controls">

             <button class="btn" id="play">
                 <i class="fa fa-play fa-2x"></i>
             </button>
             
             <button class="btn" id="stop">
                 <i class="fa fa-stop fa-2x"></i>
             </button>
            <span class="timestamp" id="timestamp">00:00</span>
             <input type="range" class="progress" id="progress" min="0" max="100" step="0.1" value="0">
             

            <span class="timesDuration" id="timesDuration">00:00</span>
             
         </div>

    <script src="script.js"></script>
</body>
</html>